* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/************* HEADER *************/


/************* Boite contenant le tout (achats, checkout et informations) *************/

.panier{
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 20px;
}

/************* GAUCHE *************/

.achats{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin: 20px 10px 10px 50px;
}

h1{
    margin-bottom: 10px;
}


.produits{
    display: flex;
    flex-direction: column;
}

img{
    width: 129px;
    height: 133px;
}

.produit{
    display: flex;
    padding: 20px 0 0 0;
}


.prod{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    line-height: 30px;
    width: 100%;
}

a{
    color: #000000;
    text-decoration-line: underline;
}

.prod div{
    display: flex;
    justify-content: flex-end;
}


/************* DROITE *************/

.checkout{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    margin: 20px 10px 10px 60px;
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0 0;
    border: 0.5px solid #000000;
    box-sizing: border-box;
}

.recap{
    display: flex;
    justify-content: space-between;
    padding: 18px 0 10px 0;
}

.checkout button{
    background-color: black;
    color: #FFFF;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}



/************* BAS GAUCHE *************/

.OrderInformation {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 55%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.contenu{
    width: 70%;
    margin-left: 25%;
}

span {
    padding : 5px;
    font-size : 1em;
    font-variant : "sans-serif";
    cursor : pointer;
    display: block;
}


span:before {
    float: right;
    right: 10%;
    content: "+";
}

span:hover:before{
    float: right;
    right: 10%;
    content: "-";
}


.slide {
    clear: both;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .4s ease;
}
  
.slide p {
    padding : 10px;
}
  
#touch {
    position: absolute; 
    opacity: 0; height: 
    0px;
}

#touch1 {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}   

#touch2 {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}       
      
  
#touch:checked + .slide {height: 30px;} 
#touch1:checked + .slide {height: 30px;} 
#touch2:checked + .slide {height: 30px;} 


/************* FOOTER *************/


footer {
    flex-shrink: 0;
    border-top: 1px solid #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
    bottom: 0;
}

.contenu-footer{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.footer-newsletter{
    width: 30%;
}

.footer-shop h3,
.footer-help h3,
.footer-about h3{
    font-size: 16px;
    padding-bottom: 20px;
}

.footer-shop h3,
.footer-shop li{
    padding-left: 96px;
}

.footer-newsletter h3{
    font-size: 26px;
    padding-bottom: 20px;
}

.footer-newsletter p{
    font-size: 14px;
    padding-bottom: 20px;
}

.liste-shop,
.liste-help,
.liste-about{
    list-style-type: none;
    font-size: 16px;
    text-align: left;
    color: #333;
    text-decoration: none;
}

.liste-shop li,
.liste-help li,
.liste-about li{
    padding-bottom: 5px;
}

.liste-shop a,
.liste-help a,
.liste-about a{
    color: gray;
    text-decoration: none;
}

.mail{
    padding: 12px 20px;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    margin-bottom: 1em;
}


.footer-newsletter button{
    float: left;
    background-color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.footer-newsletter button a{
    color: #FFFF;
    text-decoration: none;
}


