* {
    overflow-x: hidden;
}

.titre1 {
    text-align: center;
    position: relative;

height: 62px;
padding-top: 80px;


/* Heading 02 */

font-family: 'Public Sans';
font-style: normal;
font-weight: 600px;
font-size: 56px;
line-height: 62px;
/* identical to box height, or 111% */


letter-spacing: -2.4px;

/* Text Primary */

color: #000000;
}

.transtext {
    text-align: center;


position: relative;
padding-top: 60px;


height: 84px;


/* Paragraph 01 */

font-family: 'Public Sans';
font-style: normal;
font-weight: 400px;
font-size: 20px;
line-height: 28px;
/* or 140% */

letter-spacing: -0.4px;

/* Text Secondary */

color: #979797;

mix-blend-mode: normal;

}

.box1 {
  color: black;
  
    position:relative;
    top: 15px;
}
.box1:hover{
  color: #e72525;
  transition: color 0.5s;
}
.boxglobal {
    position:relative;
    
    

    
    /* Button 03 */
    
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: auto;
   
   
   
    width: 215px;
    height: 50px;
    justify-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto; 

    border: 1px solid;
    border-width: 2px;
    
    
    
    /* identical to box height, or 138% */
    
    text-align: center;
    letter-spacing: -0.4px;
    
    /* Primary */
    
    color: #0D0D0D;

}

.aa {
  text-align: center;
  font-size: 30px;
}

.vidimg {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 604px;
height: 601px;

}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.3s cubic-bezier(0.115, 0.410, 0.755, 1.000) both;
	        animation: tracking-in-expand 1.3s cubic-bezier(0.115, 0.410, 0.755, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0.3);
              transform: scale(0.3);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0.3);
              transform: scale(0.3);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

footer {
    flex-shrink: 0;
    border-top: 1px solid #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
    bottom: 0;
    
}

.contenu-footer{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.footer-newsletter{
    width: 30%;
}

.footer-shop h3,
.footer-help h3,
.footer-about h3{
    font-size: 16px;
    padding-bottom: 20px;
}

.footer-shop h3,
.footer-shop li{
    padding-left: 96px;
}

.footer-newsletter h3{
    font-size: 26px;
    padding-bottom: 20px;
}

.footer-newsletter p{
    font-size: 14px;
    padding-bottom: 20px;
}

.liste-shop,
.liste-help,
.liste-about{
    list-style-type: none;
    font-size: 16px;
    text-align: left;
    color: #333;
    text-decoration: none;
}

.liste-shop li,
.liste-help li,
.liste-about li{
    padding-bottom: 5px;
}

.liste-shop a,
.liste-help a,
.liste-about a{
    color: gray;
    text-decoration: none;
}

.mail{
    padding: 12px 20px;
    border: 0.5px solid black;
    box-sizing: border-box;
    margin-bottom   : 1em;
}

.footer-newsletter button{
    float:left;
    background-color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.footer-newsletter button a{
    color: #FFFF;
    text-decoration: none;
}

.scale-up-center3 {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center3 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center3 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
  
